@media only screen and (max-width: 2560px) {

	.gallery .thumbnal .img-box {
	    height: 500px;
	}

}

@media only screen and (max-width: 1920px) {

	.gallery .thumbnal .img-box {
	    height: 400px;
	}

}

@media only screen and (max-width: 1660px) {

	.row {
		padding: 0 2%;
	}

	.respmenubtn {
	    right: 2%;
	}

	.socials-block {
	    left: 2%;
	}

}

@media only screen and (max-width: 1280px) {

	h1 {
	    font-size: 89px;
	    line-height: 111px;
	}

	.form-block {
	    max-width: 437px;
	    margin: 72px auto 10px auto;
	}

	.main-nav-block li {
	    padding: 0 13px;
	}

	.lang-block {
	    padding: 0 0 0 13px;
	}

}

@media only screen and (max-width: 1024px) {

	.main-slider .slide h3 {
	    font-size: 30px;
	    line-height: 41px;
	    padding: 0 0 5px 0;
	}

	.main-slider .slide p {
	    line-height: 33px;
	}

	.transparent-pill {
	    margin: 45px 0 10px 0;
	}

	.talk-block {
	    padding-right: 34px;
	}

	.talk-block .talk-arrom {
		width: 34px;
	    margin: 0 0 0 9%;
	}

	.footer {
	    padding: 42px 0 28px 0;
	}

	.footer .col {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.footer .col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.footer .col-2 {
	    width: 38%;
	    padding-left: 0;
	    padding-right: 1%; 
	}

	.footer .col-3 {
	    width: 62%;
	    padding-left: 0; 
	}

}

@media only screen and (max-width: 900px) {

	h1 {
	    font-size: 75px;
	    line-height: 92px;
	}

	header {
	    margin: 44px 0 25px 0;
	}

	header h2 {
	    font-size: 35px;
	    line-height: 43px;
	}

	header h2:after {
	    width: 60px;
	    height: 4px;
	    margin: 19px auto;
	}

	.socials-block {
	    bottom: 4%;
	}

		@keyframes mouse {

	    0% {
	        bottom: 2%;
	    }

	    50% {
	        bottom: 5%;
	    }

	    100% {
	        bottom: 2%;
	    }

	}

	@-webkit-keyframes mouse {

	    0% {
	        bottom: 2%;
	    }

	    50% {
	        bottom: 5%;
	    }

	    100% {
	        bottom: 2%;
	    }

	}

	@-moz-keyframes mouse {

	    0% {
	        bottom: 2%;
	    }

	    50% {
	        bottom: 5%;
	    }

	    100% {
	        bottom: 2%;
	    }

	}

	@-o-keyframes mouse {

	    0% {
	        bottom: 2%;
	    }

	    50% {
	        bottom: 5%;
	    }

	    100% {
	        bottom: 2%;
	    }

	}

	.responsive-header .col-1 {
	    width: 100%;
	    padding-top: 9px;
	}

	.responsive-header .col-2 {
	    width: 100%;
	    padding-top: 9px;
	}

	.resp-nav-block {
	    margin: 13px 0;
	}

	.respmenubtn-block {
		display: block !important;
	}

	.header-site {
	    padding: 16px 0 5px 0;
	}

	.header-site .col {
		float: none !important;
	}

	.header-site .col-1 {
	    width: 50%;
	    z-index: 14;
	    position: relative;
	    float: none;
	}

	.header-site .col-2 {
	    display: none;
	}

	.respmenubtn-block {
	    top: 29px;
	}

	.main-slider-pagination {
	    margin: 10px 0;
	}

	.main-slider {
	    margin: 124px 0 9px 0;
	}

	.main-slider-pagination li a .icon-block {
	    height: 61px;
	}

	.main-slider-pagination li a {
	    border-width: 5px !important;
	}

	.main-slider-pagination li a p {
	    padding: 28px 0 10px 0;
	}

	.main-slider .slide .col-1 {
		width: 100%;
	    padding: 60px 0 0 0;
	}

	.main-slider .slide h3 {
	    margin: 0;
	    padding: 0 0 5px 0;
		font-size: 30px;
		line-height: 38px;		
	}

	.main-slider .slide .col-2 {
	    display: none;
	}

	.main-slider .slide .img-box img {
	    max-width: 417px;
	}

	.main-slider .slide .btn-block {
		text-align: center;
	}

	.gallery {
	    margin: 25px 0 0 0;
	}

	.gallery .thumbnal {
	    width: 100%;
	}

	.gallery .thumbnal .img-box {
	    height: 235px;
	}

	.gallery .thumbnal .img-box img.desk-img {
	    display: none;
	}

	.gallery .thumbnal .img-box img.resp-img {
	    display: block;
	}

	.services-thumbnails {
		margin-bottom: 23px;
	}

	.services-thumbnails .thumbnal {
	    width: 100%;
	   	margin: 19px 0 55px 0;
	    padding: 0;
	}

	.services-thumbnails .icon-box {
	    display: block;
	    width: 84px;
		height: 60px;
		margin: 0 auto 31px auto;
	}

	.services-thumbnails .thumbnal h3 {
	    padding: 2px 0;
	}

	.talk-block {
	    text-align: left;
	    margin: 3px 0 11px 0;
	    padding-right: 46px;
	}

	.talk-block h2 {
	    font-size: 40px;
	}

	.talk-block .talk-link {
		margin: 3px 0 0 0;
		font-size: 40px;
	    line-height: 48px;
	}

	.talk-block .talk-link:after {
	    width: 91%;
	    height: 4px;
	    left: 3px;
	}

	.map-block #map {
	    height: 290px;
	}

}

@media only screen and (max-width: 768px) {

	h1 {
	    font-size: 70px;
	    line-height: 96px;
	}

	header {
	    margin: 41px 0;
	}

	header h2:after {
		hyphens: 5px;
	    margin: 19px auto;
	}

	.single-h p {
	    padding-top: 46px;
	}

	.article h2 {
	    padding-top: 43px;
	}

	img.full-img {
	    margin: 27px auto;
	}

	.prev-img {
		max-width: 76%;
	    margin: 11px auto 41px auto;
	}

	.more-services .thumbnail {
	    width: 100%;
	    margin: 15px 0 36px 0;
	    padding: 0;
	}

	.more-services p {
	    padding: 19px 0;
	}

	.prev-icon {
		height: 60px;
	    margin: 14px auto 30px auto;
	}

	.footer .col-2 {
		width: 52%
	}

	.footer .col-3 {
		width: 48%;
	}

	.seo-block {
	    width: 100%;
	    max-width: 100%;
	    padding: 21px 0 4px 0;
	}

	.seo-block h3 {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	    padding: 0 7% 0 0;
	    font-size: 18px;
	    line-height: 20px;
	    border-bottom: 2px solid #ffffff;
		-webkit-transition-property: all;
		-webkit-transition-duration: .3s;
		-webkit-transition-timing-function: ease;

		-moz-transition-property: all;
		-moz-transition-duration: .3s;
		-moz-transition-timing-function: ease;

		-ms-transition-property: all;
		-ms-transition-duration: .3s;
		-ms-transition-timing-function: ease;

		-o-transition-property: all;
		-o-transition-duration: .3s;
		-o-transition-timing-function: ease;

		transition-property: all;
		transition-duration: .3s;
		transition-timing-function: ease;
	}

	.seo-block h3.active {
		border-bottom: 2px solid transparent;
	}

}

@media only screen and (max-width: 700px) {

	.main-slider-pagination li {
	    padding: 0 1.5%;
	}

}

@media only screen and (max-width: 600px) {

	h1 {
	    font-size: 53px;
	    line-height: 65px;
	}

	header {
	    margin: 30px 0;
	}

	header p {
	    font-size: 16px;
	    line-height: 33px;
	}

	.popup {
	    padding: 11px 2%;
	}

	.close-popup {
	    top: 0;
	}

	.form-block {
	    margin: 33px auto 10px auto;
	}

	.input-block {
	    padding: 10px 0;
	}

	textarea {
	    height: 145px;
	}

	.white-transparent-pill {
	    margin: 41px 0 16px 0;
	}

	.succes-block h1 {
		font-size: 36px;
		line-height: 50px;
	}

	.responsive-header {
	    padding: 1px 2%;
	}

	.respmenubtn-block {
	    top: 13px;
	}

	.responsive-header .col-2 {
	    padding-top: 18px;
	}

	.lang-list {
	    margin: 13px 0;
	}

	.lang-list li a {
	    display: none;
	}

	.lang-list li a.resp-lang {
	    display: block;
	}

	.resp-nav-block {
	    margin: 4px 0;
	}

	.resp-nav-block li {
	    padding: 13px 2%;
	}

	.resp-nav-block li a {
		padding: 0 0 10px 0;
		font-size: 26px;
		line-height: 26px;
		border-width: 4px !important;
	}

	.socials-block {
	    bottom: 2%;
	}

	.main-slider-pagination {
	    display: none;
	}

	.main-slider-dots-append {
	    position: relative;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    opacity: 1;
	}

	.next-slide-btn {
	    display: block;
	}

	.resp-icon-box {
	    display: block;
	}

	.slide-img {
		display: none;
	}

	.main-slider {
	    margin: 0 0 20px 0;
	}

	.main-slider .slide .col-1 {
	    padding: 30px 0 0 0;
	}

	.main-slider .slide h3 {
		display: inline-block;
		vertical-align: top;
	    font-family: "Gotham", Arial, Verdana, sans-serif;
	    font-size: 35px;
	    line-height: 44px;
	    font-weight: bold;
	    color: #262626;
	    padding: 7px 0 4px 0;
	    border-bottom: none !important;
	}

	.main-slider .slide h3:after {
		display: block;
		content: "";
		width: 103.5%;
		height: 4px;
		position: relative;
		left: 4%;
		background: #262626;
	}

	.main-slider .slide p {
	    line-height: 30px;
	}

	.transparent-pill {
	    margin: 19px 0;
	}

	.gallery {
	    margin: 78px 0 0 0;
	}

	.services-thumbnails {
	    margin-bottom: 33px;
	}

	.footer .col-2 {
	    width: 100%;
	}

	.footer .col-3 {
	    width: 100%;
	    padding-top: 17px;
	}

	.footer p {
	    margin: 7px 0 8px 0;
	}

}

@media only screen and (max-width: 480px) {

	.single-h p {
		text-align: left;
	}

	.single-link {
	    padding: 0 25px 4px 0;
	    font-size: 20px;
	}

	.article {
	    margin: 0 auto 75px auto;
	}

	img.full-img {
	    margin: 27px auto 42px auto;
	}

	.article h2 {
	    padding-top: 69px;
	}

	.prev-img {
	    margin: 1px auto 30px auto;
	}

	.more-services {
	    margin: 0 auto 19px auto;
	}

	.more-services p {
	    padding: 19px 0 15px 0;
	}

	.article > p:nth-child(1) {
	    padding-top: 4px;
	    padding-bottom: 49px;
	}

	.more-services .thumbnail {
	    margin: 15px 0 0 0;
	}

	.gallery .thumbnal .img-box {
		height: 267px;
	}

	.gallery .thumbnal .img-box img.desk-img {
	    display: block;
	}

	.gallery .thumbnal .img-box img.resp-img {
	    display: none;
	}

	.services-thumbnails .thumbnal {
	    margin: 28px 0 44px 0;
	}

	.services-thumbnails .thumbnal {
	    width: 100%;
	    margin: 28px 0 45px 0;
	}

	.services-thumbnails .icon-box {
	    display: block;
	    width: 84px;
	    height: 62px;
	    margin: 0 auto 27px auto;
	}

	.services-thumbnails .thumbnal p {
	    font-size: 16px;
	    line-height: 32px;
	}

	.talk-block {
	    margin: 29px 0 25px 0;
	    padding-right: 46px;
	}

	.talk-block .talk-link {
	    font-size: 35px;
	    line-height: 35px;
	    margin: 51px 0 0 0;
	}

	.talk-block .talk-link:after {
		width: 93%;
	    top: -5px;
	    left: 2px;
	}

	.talk-block .talk-arrom {
		vertical-align: top;
	    width: 28px;
	    position: relative;
    	top: -8px;    
	}

	.map-block #map {
	    height: 300px;
	}

	.footer {
	    padding: 38px 0 67px 0;
	}

}

@media only screen and (max-width: 350px) {

	.talk-block .talk-arrom {
	    margin: 0 0 0 1%;
	}

	.talk-block .talk-link:hover:after {
	    left: 8%;
	}

	.seo-list {
		height: auto;
	}

}

@media only screen and (min-width: 769px) {

	.seo-list {
		display: block !important;
		height: auto !important;
	}

}