@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

/*@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Black.eot");
    src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Black.woff2") format("woff2"),
        url("../fonts/Gotham-Black.woff") format("woff"),
        url("../fonts/Gotham-Black.ttf") format("truetype"),
        url("../fonts/Gotham-Black.svg#Gotham-Black") format("svg");
    font-weight: 500;
    font-style: normal;
}*/

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Book.eot");
    src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Book.woff2") format("woff2"),
        url("../fonts/Gotham-Book.woff") format("woff"),
        url("../fonts/Gotham-Book.ttf") format("truetype"),
        url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Bold.eot");
    src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Bold.woff2") format("woff2"),
        url("../fonts/Gotham-Bold.woff") format("woff"),
        url("../fonts/Gotham-Bold.ttf") format("truetype"),
        url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Medium.eot");
    src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Medium.woff2") format("woff2"),
        url("../fonts/Gotham-Medium.woff") format("woff"),
        url("../fonts/Gotham-Medium.ttf") format("truetype"),
        url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}
:-moz-placeholder           {color:#ffffff;}
:-ms-input-placeholder      {color:#ffffff;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 30px 0;
    background: rgb(255, 255 ,255);
}

h1 {
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 110px;
    line-height: 120px;
    font-weight: bold;
    color: #FFFFFF;
}

h2 {
    font-family: "Gotham Medium", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    color: #262626;
}

h3 {
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #262626;
}

p {
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a {
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #262626;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1660px;
    margin: 0 auto;
}

.content.inner-page section:nth-child(1){
    padding-top: 111px;
}

header {
    margin: 49px 0;
}

header h2 {
    font-family: "Gotham Medium", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    color: #262626;
    text-align: center;
}

header h2:after {
    display: block;
    content: "";
    width: 70px;
    height: 6px;
    margin: 29px auto;
    background: rgb(0, 0, 15);
}

header p {
    display: block;
    max-width: 734px;
    margin: 0 auto;
    padding: 14px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
    text-align: center;    
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grey-bg {
    background: #FAFAFA;
}

/*-- Slick --*/

.slick-dots {
    text-align: center;
    padding: 0 40px;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: transparent;
    padding: 7px 3%;
}

.slick-dots li button {
    display: block;
    width: 7px;
    height: 7px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    border: 1px solid #262626;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.slick-dots li.slick-active button {
    background: #262626;
}

.slick-arrow {
    display: block;
    width: 27px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    bottom: -3px;
    border: 1px solid transparent;
    background: transparent;
}

.slick-prev {
    left: 2%;
}

.slick-next {
    right: 2%;
}

.slick-arrow img {
    display: block;
    width: auto;
    hyphens: auto;
    max-width: 100%;
    max-height: 100%;
}

/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 30px 0 5px 0;
}

.header-site .col {

}

.header-site .col-1 {
    width: 32%;
}

.header-site .col-2 {
    width: 68%;
    padding: 18px 0 0 0;
    text-align: right;
}

a.logo {
    display: inline-block;
    vertical-align: top;
    width: 234px;
    font-size: 0 !important;
    line-height: 0 !important;
    border: none !important;
}

a.logo svg {
    display: inline-block;
    vertical-align: bottom;
    width: 34px;
    height: 34px;
    margin: 0 6px 0 0;
}

a.logo svg path {
    fill: #ffffff;
}

.header-site.inner a.logo svg path {
    fill: #262626;
}

a.logo span {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px !important;
    font-weight: bold;
    color: #ffffff;
}

.header-site.inner a.logo span {
    color: #262626;
}

.main-nav-block {
    display: inline-block;
    vertical-align: top;
}

.main-nav-block li {
    display: inline-block;
    vertical-align: top;
    padding: 0 23px;
}

.main-nav-block li a {
    display: inline-block;
    vertical-align: top;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    border-bottom: 1px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.main-nav-block li a:link,
.main-nav-block li a:visited {
    border-bottom: 1px solid transparent;
}

.main-nav-block li a:active,
.main-nav-block li a.active {
    border-bottom: 1px solid #ffffff;
}

.main-nav-block li a:hover {
    border-bottom: 1px solid #ffffff;
}

.header-site.inner .main-nav-block li a {
    color: #262626;
}

.header-site.inner .main-nav-block li a:link,
.header-site.inner .main-nav-block li a:visited {
    border-bottom: 1px solid transparent;
}

.header-site.inner .main-nav-block li a:active,
.header-site.inner .main-nav-block li a.active {
    border-bottom: 1px solid #262626;
}

.header-site.inner .main-nav-block li a:hover {
    border-bottom: 1px solid #262626;
}

.lang-block {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 26px;
}

a.lang {
    display: inline-block;
    vertical-align: top;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    border-bottom: 1px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

a.lang:link,
a.lang:visited {
    border-bottom: 1px solid transparent;
}

a.lang:active,
a.lang.active {
    border-bottom: 1px solid #ffffff;
}

a.lang:hover {
    border-bottom: 1px solid #ffffff;
}

.header-site.inner a.lang {
    color: #262626;
}

.header-site.inner a.lang:link,
.header-site.inner a.lang:visited {
    border-bottom: 1px solid transparent;
}

.header-site.inner a.lang:active,
.header-site.inner a.lang.active {
    border-bottom: 1px solid #262626;
}

.header-site.inner a.lang:hover {
    border-bottom: 1px solid #262626;
}

/*-- Responsive Nemu --*/

.responsive-header {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100vh;
    padding: 16px 2%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    background: rgb(55,185,193);
    background: -moz-linear-gradient(left, rgba(55,185,193,1) 0%, rgba(64,230,99,1) 100%);
    background: -webkit-linear-gradient(left, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    background: linear-gradient(to right, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#37b9c1", endColorstr="#40e663",GradientType=1 );
}

.responsive-header .col {

}

.responsive-header .col-1 {
    width: 25%;
    padding-top: 23px;
}

.responsive-header .col-2 {
    width: 50%;
    text-align: center;
}


.lang-list {
    margin: 36px 0;
    text-align: center;
}

.lang-list li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 22px;
}

.lang-list li a {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 8px 2px;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.lang-list li a:link,
.lang-list li a:visited {
    border-bottom: 2px solid transparent;
}

.lang-list li a:active,
.lang-list li a.active {
    border-bottom: 2px solid #ffffff;
}

.lang-list li a:hover {
    border-bottom: 2px solid #ffffff;
}

.lang-list li a.resp-lang {
    display: none;
    padding-bottom: 6px;
}

.resp-nav-block {
    margin: 45px 0 27px 0;
}

.resp-nav-block li {
    display: block;
    padding: 17px 2%;
    text-align: center;
}

.resp-nav-block li a {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 18px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 6px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.resp-nav-block li a:link,
.resp-nav-block li a:visited {
    border-bottom: 6px solid transparent;
}

.resp-nav-block li a:active,
.resp-nav-block li a.active {
    border-bottom: 6px solid #ffffff;
}

.resp-nav-block li a:hover {
    border-bottom: 6px solid #ffffff;
}

/*-- /Responsive Nemu --*/

/* ----- Responsive Menu Button ------ */

.respmenubtn-block {
    /*display: block;*/
    display: none;
    height: 0;
    width: 100%;
    position: fixed;
    top: 57px;
    left: 0;
    z-index: 14;
}

.respmenubtn-block .row {
    position: relative;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 39px;
    position: absolute;
    top: -2px;
    right: 0;
    background: transparent;
    cursor: pointer;
    z-index: 8;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 31px;
    height: 3px;
    position: relative;
    background: #252525;
    margin: 0 auto 9px auto;

    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn-block.light .respmenubtn span {
    background: #ffffff;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn.active span {
    background: #ffffff;
    width: 38px;
    top: 1px;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -2px;
}

/* ----- / Responsive Menu Button ------ */

/*--  Popups  --*/

.popups {
    display: block;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    background: rgb(55,185,193);
    background: -moz-linear-gradient(left, rgba(55,185,193,1) 0%, rgba(64,230,99,1) 100%);
    background: -webkit-linear-gradient(left, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    background: linear-gradient(to right, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#37b9c1", endColorstr="#40e663",GradientType=1 );
}

.logo-block {

}

.popup {

}

.popup-top-nav-block {

}

.popup-top-nav {

}

.popup-top-nav li {

}

.popup-top-nav li a {

}

.popup-nav-block {

}

.popup-nav {

}

.popup-nav li {

}

.popup-nav li a {

}

.popup {
    display: none;
    width: 100%;
    height: 100vh;
    padding: 25px 2%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    background: rgb(55,185,193);
    background: -moz-linear-gradient(left, rgba(55,185,193,1) 0%, rgba(64,230,99,1) 100%);
    background: -webkit-linear-gradient(left, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    background: linear-gradient(to right, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#37b9c1", endColorstr="#40e663",GradientType=1 );
}

.popup .row {
    position: relative;
}

.close-popup {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 36px;
    position: absolute;
    top: 16px;
    right: 0;
    background: transparent;
    cursor: pointer;
    z-index: 8;
    border: 1px solid transparent;
}

.close-popup span {
    display: block;
    background: #ffffff;
    width: 38px;
    height: 3px;
    position: relative;
    top: 1px;
    left: -2px;
}

.close-popup span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
    left: -2px;
}

.close-popup span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -2px;
    left: -2px;
}

.close-popup:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.popup header {

}

.popup header h2 {
    color: #ffffff;
}

.popup header h2:after {
    background: rgb(255, 255, 255);
}

.form-block {
    display: block;
    max-width: 437px;
    margin: 84px auto 10px auto;
}

.input-block {
    padding: 10px 0 31px 0;
}

input {
    display: block;
    width: 100%;
    hyphens: 46px;
    border: 1px solid transparent;
    /*outline: 1px solid red;*/
    background: transparent;
    border-bottom: 1px solid #ffffff;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 46px;
    font-weight: normal;
    color: #ffffff;
}

textarea {
    display: block;
    width: 100%;
    height: 181px;
    border: 1px solid transparent;
    /*outline: 1px solid red;*/
    background: transparent;
    border-bottom: 1px solid #ffffff;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 46px;
    font-weight: normal;
    color: #ffffff;
}

.submit-block {
    text-align: center;
}

.white-transparent-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 246px;
    cursor: pointer;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0);   
    margin: 72px 0 16px 0;
    padding: 6px 2%;
    text-align: center;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: normal;
    color: #ffffff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.white-transparent-pill:link,
.white-transparent-pill:visited {
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
}

.white-transparent-pill:active,
.white-transparent-pill.active {
    color: #262626;
    background: rgba(255, 255, 255, 1);
}

.white-transparent-pill:hover {
    color: #262626;
    background: rgba(255, 255, 255, 1);
}

.succes-block {
    text-align: center;
    height: 77vh;
    padding-top: 70px;
    position: relative;
}

.succes-block h1 {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 70px;
    line-height: 101px;
}

/*--  /Popups  --*/

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Main Page - Section 1 --*/

.promo-sect {
    min-height: 100vh;
    padding: 0;
    background: rgb(55,185,193);
    background: -moz-linear-gradient(left, rgba(55,185,193,1) 0%, rgba(64,230,99,1) 100%);
    background: -webkit-linear-gradient(left, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    background: linear-gradient(to right, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#37b9c1", endColorstr="#40e663",GradientType=1 );
}

.promo-sect .row {
    position: relative;
}

.promo-block {

}

.promo-block:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    min-height: 100vh;
    width: 1%;
}

.center {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
    text-align: center;
    padding: 100px 0;
}

.center h1 {

}

.socials-block {
    position: absolute;
    bottom: 8%;
    left: 0;
}

.socials {

}

.socials li {
    display: block;
    width: 16px;
    height: 20px;
    padding: 30px 0;
}

.socials li a {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 20px;
}

.socials li a img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.scrolldown {
    display: block;
    width: 44px;
    height: 70px;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
    position: absolute;
    bottom: 9%;
    left: 50%;
    margin: 0 0 0 -22px;
    -webkit-animation: mouse 4s infinite;
    -moz-animation:    mouse 4s infinite;
    -o-animation:      mouse 4s infinite;
    animation:         mouse 4s infinite;
}

@keyframes mouse {

    0% {
        bottom: 7%;
    }

    50% {
        bottom: 9%;
    }

    100% {
        bottom: 7%;
    }

}

@-webkit-keyframes mouse {

    0% {
        bottom: 7%;
    }

    50% {
        bottom: 9%;
    }

    100% {
        bottom: 7%;
    }

}

@-moz-keyframes mouse {

    0% {
        bottom: 7%;
    }

    50% {
        bottom: 9%;
    }

    100% {
        bottom: 7%;
    }

}

@-o-keyframes mouse {

    0% {
        bottom: 7%;
    }

    50% {
        bottom: 9%;
    }

    100% {
        bottom: 7%;
    }

}

.scrolldown .mouse-scroll {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*-- /Main Page - Section 1 --*/

/*-- Main Page - Section 2 --*/

.main-slider-block {

}

.main-slider-block .slick-arrow {
    opacity: 0;
    top: -24px;
    z-index: -1;
}

.main-slider-pagination {
    margin: 10px 0;
    text-align: center;
}

.main-slider-pagination li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 4.1%;
}

.main-slider-pagination li a {
    display: inline-block;
    vertical-align: top;
    border-bottom: 6px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.main-slider-pagination li a:link,
.main-slider-pagination li a:visited {
    border-bottom: 6px solid transparent;
}

.main-slider-pagination li a:active,
.main-slider-pagination li a.active {
    border-bottom: 6px solid #262626;
}

.main-slider-pagination li a:hover {
    border-bottom: 6px solid #262626;
}

.main-slider-pagination li a .icon-block {
    display: block;
    height: 64px;
    width: 71px;
    margin: 0 auto;
}

.main-slider-pagination li a .icon-block img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.main-slider-pagination li a p {
    padding: 20px 0 12px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #262626;
}

.main-slider-dots-append {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .01;
}

.next-slide-btn {
    /*display: block;*/
    display: none;
    width: 16px;
    height: 23px;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
    background-image: url(../img/chevron_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.main-slider-block .next-slide-btn {
    position: absolute;
    top: 101px;
    right: 2%;
    z-index: 2;
}

.main-slider {
    margin: 112px 0 78px 0;
}

.main-slider .slide {
}

.main-slider .slide .col {
    display: inline-block;
    vertical-align: middle;
}

.main-slider .slide .col-1 {
    width: 46%;
    padding: 0 2% 0 0;
}

.main-slider .slide .col-2 {
    width: 54%;
    padding: 18px 0 0 2%;
}

.resp-icon-box {
    display: none;
    height: 100px;
    width: 98px;
}

.resp-icon-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.main-slider .slide h3 {
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid transparent;
    margin: 0 0 19px 0;
    padding: 0 0 1px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    color: #262626;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.main-slider .article:hover h3 {
    border-bottom: 2px solid #262626;
}

.main-slider .slide p {
    padding: 15px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 36px;
    font-weight: normal;
    color: #262626;
}

.transparent-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 246px;
    border: 2px solid #262626;
    background: rgba(0, 0, 15, 0);    
    margin: 68px 0 16px 0;
    padding: 6px 2% 6px 35px;
    text-align: center;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.transparent-pill:link,
.transparent-pill:visited {
    color: #262626;
    background: rgba(0, 0, 15, 0);
}

.transparent-pill:active,
.transparent-pill.active {
    color: #ffffff;
    background: rgba(0, 0, 15, 1);
}

.transparent-pill:hover {
    color: #ffffff;
    background: rgba(0, 0, 15, 1);
}

.arrow-icon {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    position: relative;
}

.arrow-icon:before,
.arrow-icon:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/arrow_sprite.png);
    background-repeat: no-repeat;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.arrow-icon:before {
    opacity: 1;
}

.arrow-icon:after {
    opacity: 0;
}

.arrow-icon:before {
    background-position: center 2px;
}

.arrow-icon:after {
    background-position: center -33px;
}

.transparent-pill .arrow-icon {
    vertical-align: middle;
    margin: 0 0 0 20%;
}

.transparent-pill:active .arrow-icon:before,
.transparent-pill.active .arrow-icon:before {
    opacity: 0;
}

.transparent-pill:hover .arrow-icon:before {
    opacity: 0;
}

.transparent-pill:active .arrow-icon:after,
.transparent-pill.active .arrow-icon:after {
    opacity: 1;
}

.transparent-pill:hover .arrow-icon:after {
    opacity: 1;
}

.main-slider .slide .img-box {
    display: block;
    width: auto;
    height: auto;
    max-width: 98%;
    max-height: 98%;
    margin: 0 auto;
}

.main-slider .slide .img-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*-- /Main Page - Section 2 --*/

/*-- Main Page - Section 3 --*/

.about-sect {
    padding-bottom: 0;
}

.gallery {
    margin: 65px 0 0 0;
}

.gallery .thumbnal {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    overflow: hidden;
}

.gallery .thumbnal .img-box {
    display: block;
    width: 100%;
    height: 600px;
    overflow: hidden;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
}

.gallery .thumbnal:hover .img-box {
    transform: scale(1.12);
}

.gallery .thumbnal .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
}

.gallery .thumbnal .img-box img.resp-img {
    display: none;
}

/*-- /Main Page - Section 3 --*/

/*-- Main Page - Section 4 --*/

.services-thumbnails {

}

.services-thumbnails .thumbnal {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin: 30px 0;
    padding: 0 4%;
    text-align: center;
}

.services-thumbnails .inner {
    display: block;
    text-align: center;
}

.services-thumbnails .icon-box {
    display: block;
    width: 84px;
    height: 64px;
    margin: 0 auto 20px auto;
}

.services-thumbnails .thumbnal img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.services-thumbnails h3 {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 1px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    color: #262626;
}

.services-thumbnails h3:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    position: relative;
    bottom: 8px;
    left: 0;
    background: #262626;
    opacity: 0;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.services-thumbnails .inner:hover h3:after {
    opacity: 1;
}

.services-thumbnails .thumbnal p {
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
}

/*-- Main Page - Section 4 --*/

/*-- Main Page - Section 5 --*/

.talk-sect {
    background: rgb(55,185,193);
    background: -moz-linear-gradient(left, rgba(55,185,193,1) 0%, rgba(64,230,99,1) 100%);
    background: -webkit-linear-gradient(left, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    background: linear-gradient(to right, rgba(55,185,193,1) 0%,rgba(64,230,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#37b9c1", endColorstr="#40e663",GradientType=1 );
}

.talk-block {
    text-align: center;
    margin: 40px 0 34px 0;
    padding-right: 46px;
}

.talk-block h2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 1.8% 0 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #262626;
}

.talk-block .talk-link {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #ffffff;
}

.talk-block .talk-link:after {
    display: block;
    content: "";
    width: 83%;
    height: 4px;
    background: rgb(255, 255, 255);
    position: relative;
    left: 11.5%;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.talk-block .talk-link:hover:after {
    left: 17%;
}

.talk-block .talk-arrom {
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 29px;
    margin: 0 0 0 23%;
    background-image: url(../img/white_arrow.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*-- /Main Page - Section 5 --*/

/*-- Main Page - Section 6 --*/

.map-sect {
    padding: 0;
}

.map-block {

}

.map-block #map {
    display: block;
    width: 100%;
    height: 362px;
}

.map-block img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
    display: none; 
}

.map-block button[title="Toggle fullscreen view"] {
    display: none;
}

.map-block .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    display: none !important;
}

.map-block .gmnoprint {
    display: none !important;
}

/*-- /Main Page - Section 6 --*/

/*-- Work - Section 1 --*/

.single-h {
    text-align: center;
    margin-bottom: 10px;
}

.single-h h2:after {
    display: none;
}

.single-h p {
    padding-top: 22px;
}

.single-link {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px 6px 0;
    position: relative;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #262626;
}

.single-link:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #262626;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.single-link:hover:after {
    left: 5%;
}

.article {
    display: block;
    max-width: 951px;
    margin: 0 auto 62px auto;
}

.inner-row {
    display: block;
    max-width: 951px;
    margin: 0 auto 50px auto;
}

.article > p:nth-child(1) {
    padding-top: 6px;
    padding-bottom: 35px;
}

.article img {
    margin: 18px 0;
}

img.full-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 18px auto;
}

.article h2 {
    padding-top: 32px;
    font-weight: normal;
}

.article p {
    font-weight: normal;
}

/*-- /Work - Section 1 --*/

/*-- Web Design - Section 1 --*/

.prev-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 75px auto 61px auto;
}

.prev-img img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

/*-- /Web Design - Section 1 --*/

/*-- Web Design - Section 2 --*/

.more-services {
    display: block;
    max-width: 1054px;
    margin: 0 auto 45px auto;
}

.more-services .thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin: 15px 0;
    padding: 0 4%;
}

.more-services .inner {

}

.more-services h3 {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    color: #262626;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.more-services .inner:hover h3 {
    border-bottom: 2px solid #262626;
}

.more-services p {
    padding: 13px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
}

/*-- Web Design - Section 2 --*/

/*-- Our Services - Section 1 --*/

.service-article {
    border-bottom: 1px solid #DFDFDF;
    padding: 37px 0 65px 0;
}

.service-article:nth-child(1) {
    padding-top: 0;
}

.service-article:last-child {
    border-bottom: none;
    padding-bottom: 10px;
}

.service-article .icon-box {
    display: inline-block;
    vertical-align: top;
    height: 63px;
    width: 90px;
    margin: 0 0 10px 0;
}

.service-article .icon-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.service-article h3 {
    padding: 11px 0 0 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
}

.service-article p {
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: normal;
    color: #262626;
}

.service-article p a {
    display: inline-block;
    vertical-align: top;
    margin: 9px 0;
    border-bottom: 1px solid transparent;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #262626;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.service-article p a:hover {
    border-bottom: 1px solid transparent;
}

.service-article p a:active,
.service-article p a.active {
    border-bottom: 1px solid #262626;
}

.service-article p a:hover {
    border-bottom: 1px solid #262626;
}

/*-- /Our Services - Section 1 --*/

/*-- UIUX - Section 1 --*/

.prev-icon {
    display: block;
    width: auto;
    height: 71px;
    margin: 44px auto 49px auto;
}

/*-- /UIUX - Section 1 --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
}

.footer {
    padding: 57px 0 63px 0;
    background-color: #262626;
    background-image: url(../img/map_footer.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer .col {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .col-1 {
    width: 26%;
    padding-right: 1%; 
}

.footer .col-2 {
    width: 27%;
    padding-left: 1%; 
    padding-right: 1%; 
}

.footer .col-3 {
    width: 47%;
    padding-left: 1%; 
}

.footer a {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 6px 0 11px 0;
    position: relative;
    top: -1px;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    border-bottom: 1px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.footer a:link,
.footer a:visited {
    border-bottom: 1px solid transparent;
}

.footer a:active,
.footer a.active {
    border-bottom: 1px solid #ffffff;
}

.footer a:hover {
    border-bottom: 1px solid #ffffff;
}

.footer p {
    margin: 17px 0 7px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: normal;
    color: #ffffff;
}

.seo-block {
    display: block;
    width: 33.33%;
    max-width: 217px;
    padding: 14px 1%;
}

.seo-block h3 {
    padding: 0 0 8px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: normal;
    color: #ffffff;
}

.seo-block li {
    display: block;    
    margin: 18px 0;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-weight: normal;
    color: #ffffff;
}

.seo-block li a {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0;
    position: relative;
    top: 1px;
    font-family: "Gotham", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    border-bottom: 1px solid transparent;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.seo-block li a:link,
.seo-block li a:visited {
    border-bottom: 1px solid transparent;
}

.seo-block li a:active,
.seo-block li a.active {
    border-bottom: 1px solid #ffffff;
}

.seo-block li a:hover {
    border-bottom: 1px solid #ffffff;
}